[Desktop Entry]
Type=Application
Name=gnome-disk-utility notification plugin for GNOME Settings Daemon
Exec=/usr/libexec/gsd-disk-utility-notify
OnlyShowIn=GNOME;
NoDisplay=false
X-GNOME-AutoRestart=false
X-Ubuntu-Gettext-Domain=gnome-disk-utility
