[Desktop Entry]
Type=Application
Exec=xmodmap ~/.xmodmap
Comment=xmodmap ~/.xmodmap
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_AU]=xmod
Name=xmod
Comment[en_AU]=
Comment=
