[Desktop Entry]
Comment=
Exec=xmodmap ~/.xmodmap
Hidden=true
Name[en_AU]=xmod
Name=xmod
NoDisplay=false
Type=Application
X-GNOME-Autostart-enabled=true
